name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: Platane/snk@v3
        with:
          github_user_name: hriic
          outputs: |
            dist/snake.svg?palette=github-dark
            dist/snake.gif?palette=github-dark   # هذا السطر يضيف ملف GIF

      - uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: snake-output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
